# Auto detect text files and perform LF normalization
* text=auto

*.py filter=git-crypt diff=git-crypt
*.json filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt
*.txt filter=git-crypt diff=git-crypt
*.log filter=git-crypt diff=git-crypt
*.csv filter=git-crypt diff=git-crypt
*.xlsx filter=git-crypt diff=git-crypt
data/** filter=git-crypt diff=git-crypt
